<h1>Editing Categories Document</h1>

<%= render 'form', categories_document: @categories_document %>

<%= link_to 'Show', @categories_document, {:class => "btn btn-primary"} %> |
<%= link_to 'Back', categories_documents_path, {:class => "btn btn-default"} %>
