/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * @import to import Sass files.
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 $brand-warning:     #428bda;
 $brand-info:        #428bcf;
 $brand-primary:     #779EC7;
 $brand-danger:      #BF4C36;

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   margin: 10px;
   padding-left: 30px;
}

.gray{
  color: gray;
}

.active{
  color: red;
}

#document-text {
  height: auto;
}
