/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * @import to import Sass files.
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   margin: 10px;
   padding-left: 30px;
}
@gray-base:         #000;
@gray-darker:       lighten(@gray-base, 13.5%); // #222
@gray-dark:         lighten(@gray-base, 20%);   // #333
@gray:              lighten(@gray-base, 33.5%); // #555
@gray-light:        lighten(@gray-base, 46.7%); // #777
@gray-lighter:      lighten(@gray-base, 93.5%); // #eee

$brand-primary:     #428bca;
@brand-success:     #5cb85c;
@brand-info:        #5bc0de;
@brand-warning:     #f0ad4e;
@brand-danger:      #d9534f;
