<h1>Editing Edit Permission</h1>

<%= render 'form', edit_permission: @edit_permission %>

<%= link_to 'Show', @edit_permission, {:class => "btn btn-primary"} %> 
<%= link_to 'Back', edit_permissions_path, {:class => "btn btn-danger"} %>
