<p>
  <strong>Document:</strong>
  <%= @edit_permission.document.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @edit_permission.permited_to_edit_user.to_s %>
</p>

<%= link_to 'Edit', edit_edit_permission_path(@edit_permission) , {:class => "btn btn-primary"} %>
<%= link_to 'Back', edit_permissions_path, {:class => "btn btn-danger"} %>
